body {
  font-family: 'Arial', 'Helvetica Neue', 'Helvetica', 'sans-serif';
  background: #ccc;
  position: relative;
  height: 100%;
  padding-bottom: 90px;
}

#navbar-wrap {
  width: 100%;
  height: 70px;
  background-color: white;
  border-bottom: 1px #777 solid;
}

h1 {
  width: 325px;
  font-family: 'Georgia', Times, 'Times New Roman', serif;
  background-color: #00887a;
  color: #eaf7e0;
  font-size: 25px;
  padding: 22.5px 0px;
  text-align: center;
  float: left;
}

#nav {
  float: right;
  margin-top: 30px;
}

#nav li {
  display: inline;
}

#nav a {
  text-decoration: none;
  color: #777;
  font-size: 16px;

}

#nav li + li {
  margin: 5px;
}

.narrow-element {
  width: 70%;
  margin: auto;
}

.main-section-wrapper {
  background-color: white;
  border: 1px #777 solid;
  margin-top: 20px;
}

.main-section {
  background: white;
  padding: 20px;
  overflow: hidden;

}

h2 {
  font-family: 'Georgia', Times, 'Times New Roman', serif;
  font-size: 25px;
  color: #00887a
}

#profile-picture {
  margin-top: 10px;
  margin-right: 20px;
  float: left;
}

.about-para {
  margin-top: 10px;
  line-height: 2;
  font-size: 16px;
}

footer {
  width: 100%;
  padding: 25px 0px;
  background: #777;
  color: #ccc;
  border-top: 5px solid #00887a;
  margin-top: 40px;
  position: fixed;
  bottom: 0;
}

#contact-footer {
  width: 100%;
  padding: 25px 0px;
  background: #777;
  color: #ccc;
  border-top: 5px solid #00887a;
  margin-top: 40px;
  position: fixed;
  bottom: 0;
}

#portfolio-footer {
  width: 100%;
  padding: 25px 0px;
  background: #777;
  color: #ccc;
  border-top: 5px solid #00887a;
  margin-top: 40px;
  position: absolute;
  bottom: 0;
}

#footer-para {
  text-align: center;
}

.portfolio-image {
  float: left;
  width: 300px;
  height: 200px;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 15px;
  opacity: .92;
  transition: .3s;
}

.portfolio-image img {
  border: 1px #777 solid;
  border-radius: 2px;
}

.portfolio-image p {
  color: white;
  background-color: #00887a;
  width: 301px;
  text-align: center;
  font-weight: bold;
  padding: 12px 0px;
  position: relative;
  bottom: 50px;
  border-radius: 2px;
}

.portfolio-image a {
  text-decoration: none;
}

form p {
  line-height: 2;
  color: #777;
  margin-top: 15px;
  margin-right: 20px;
}

.input-box {
  width: 100%;
  height: 30px;
  font-size: 18px;
  color: #777;
  padding-left: 8px;
  border: solid 1px #ccc;
  border-radius: 2px
}

.input-box:focus {
  background-color: #efefef;
}

textarea {
  width: 100%;
  height: 100px;
  font-size: 18px;
  border-color: #ccc;
  color: #777;
  padding-left: 8px;
  padding-top: 4px;
  border: solid 1px #ccc;
  border-radius: 2px
}

textarea:focus {
  background-color: #efefef;
}

#button {
  margin-top: 15px;
  background-color: #00887a;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
  border: 1px #777 solid;
  border-radius: 2px;
  opacity: .7;
  transition: .3s;
}

#button:hover {
  opacity: 1;
  cursor: pointer;
}


@media (min-width: 1410px) {
  #portfolio-footer {
    position: fixed;
    bottom: 0;
  }
}

@media (max-width: 768px) {
  .narrow-element {
    width: 95%;
}
footer {
  position: fixed;
  bottom: 0;
  }
}


@media (max-width: 640px) {

  h1 {
    width: 100%;
  }

  #navbar  {
    width: 100%;
  }

  nav {
    background: white;
    padding-top: 71px;
    padding-bottom: 3px;
    margin-bottom: 300px;
  }

  #nav {
    width: 200px;
    float: none;
    margin: 15px auto;
    background: white;
  }

  .main-section-wrapper {
    margin-top: 70px;
}

.narrow-element {
  width: 98%
}
}

@media (max-width: 515px) {

footer {
  position: absolute;
  bottom: 0;
}
}
